.paginationContainer {
  padding-top: 50px;
  min-width: 50vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info {
    width: auto;
    color: #080705;
  }

  .btnPrev {
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 11px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: unset;
    height: 40px;
    min-width: 100px;

    .icon svg {
      transform: rotate(90deg) translateX(-2px);
    }
  }

  .btnNext {
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 11px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: unset;
    height: 40px;
    min-width: 100px;

    .icon svg {
      transform: rotate(-90deg) translateX(1px);
    }
  }
}
