:root {
  --max-mobile-width: 600px;
  --max-tablet-width: 1000px;
  --max-desktop-width: 1400px;

  --background: #ececec;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ececec;
    --foreground: white;
  }
}
