.selectContainer {
  position: relative;
  min-width: 220px;
  width: 100%;
  max-width: 301px;
  height: 51px;

  .button {
    cursor: pointer;
    width: inherit;
    height: inherit;
    background-color: hsl(40, 23%, 3%);
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 23px;

    p {
      font-size: 18px;
      color: white;
      font-weight: 700;
    }
  }

  .fieldset {
    height: 300px;
    width: 100%;
    background-color: hsl(40, 23%, 3%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
  }

  .fieldset::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(53, 53, 53);
  }
  .fieldset::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  .selectContainer {
    max-width: unset;
    .title {
      font-size: 30px;
    }
  }
}
