.option {
  cursor: pointer;
  width: 100%;
  padding: 8px 23px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  input[type="checkbox"] + span {
    cursor: pointer;
    font: 16px sans-serif;
    color: rgb(168, 7, 7);
  }

  input[type="checkbox"] + span:before {
    content: "";
    border-radius: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    background-color: white;
  }

  input[type="checkbox"]:checked + span:before {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/ios-checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    border-radius: 2px;
    background-color: #e59cba;
    color: white;
  }
}

.option:hover {
  background-color: #1a1a1a;
}
