.inputSearch {
  position: relative;
  height: 75px;
  min-width: 320px;
  width: 100%;
  max-width: 564px;

  .input {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background-color: white;
    border: #080705 1px solid;
    font-size: 32px;
    color: #080705;
  }

  .button {
    position: absolute;
    right: 20px;
    top: 23px;
    background-color: transparent;
    border: none;

    .icon {
      height: 27px;
      width: 27px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .inputSearch {
    height: 49px;

    .input {
      font-size: 20px;
    }

    .button {
      top: 18px;

      .icon {
        height: 15px;
        width: 15px;
      }
    }
  }
}
